.third {
  float: left;
  width: 33%;
}
.tally, .tally-head {
  width:20%;
  height:20px;
  position:absolute;
  text-align:center;
  font-family:sans-serif;
}
.tally {
  top:350px;
}
.tally-head {
  top:300px;
}
#played, #played-head {
  left:10%;
}
#won, #won-head {
  left:30%;
}
#lost, #lost-head {
  left:50%;
}
#tied, #tied-head {
  left:70%;
}
#yourPick, #computerPick {
  width: 25%;
  height: 20px;
  position: absolute;
  font-family:sans-serif;
  top: 250px;
}
#yourPick {
  left:25%;
}
#computerPick{
  left:50%;
}
